body {
    /* min-height: 400px; */
    margin-bottom: 100px;
    clear: both;
}

.container {
    margin-bottom: 20px;
}

/* #footer {
    text-align: center; 
    margin-top: 2%; 
    padding-top: 2px;
    padding-bottom: 70px; 
    position: relative; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 60px; 
    line-height: 60px; 
} */

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    padding-top: 2px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 2%;
        padding-bottom: 200px;
    }
  }